<div class="container mt-5">
  <h1 class="text-center mb-4">各行业职种分布表</h1>
  <div class="table-responsive">
    <table class="table table-bordered table-striped align-middle text-center">
      <thead class="table-dark">
        <tr>
          <th>职种</th>
          <th>咨询</th>
          <th>IT（Web系）</th>
          <th>IT（SIer&IT咨询）</th>
          <th>保险</th>
          <th>银行</th>
          <th>商社</th>
          <th>会计&审计</th>
          <th>不动产</th>
          <th>广告&媒体</th>
          <th>制造</th>
          <th>游戏</th>
          <th>零售&流通</th>
          <th>士业</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>プロジェクトマネージャー（PM）／PMO／プロジェクト管理支援</td>
          <td>有</td><td>有</td><td>有</td><td>极少</td><td>极少</td><td>极少</td><td>无</td><td>有</td><td>有</td><td>有</td><td>有</td><td>少</td><td>无</td>
        </tr>
        <tr>
          <td>営業職／営業／営業部門（開発営業）／IT営業／法人営業／招商・租赁営業</td>
          <td>极少</td><td>少</td><td>有</td><td>有</td><td>有</td><td>有</td><td>无</td><td>有</td><td>有</td><td>有</td><td>无</td><td>有</td><td>无</td>
        </tr>
        <tr>
          <td>マーケティング／Webマーケティング／市場部</td>
          <td>极少</td><td>有</td><td>少</td><td>有</td><td>极少</td><td>有</td><td>无</td><td>有</td><td>有</td><td>有</td><td>少</td><td>有</td><td>无</td>
        </tr>
        <tr>
          <td>企画／商品企画／事業企画／経営企画／商品開発／新事業開発／プロダクトマネージャー</td>
          <td>无</td><td>有</td><td>有</td><td>有</td><td>极少</td><td>有</td><td>无</td><td>有</td><td>有</td><td>有</td><td>有</td><td>有</td><td>无</td>
        </tr>
        <tr>
          <td>カスタマーサービス／カスタマー系／カスタマーサクセス／運営／ユーザーサポート／理赔服务</td>
          <td>极少</td><td>有</td><td>有</td><td>有</td><td>有</td><td>极少</td><td>无</td><td>有</td><td>有</td><td>极少</td><td>有</td><td>有</td><td>无</td>
        </tr>
        <tr>
          <td>分析／リサーチ／データ分析／精算師／調査部／投資研究所</td>
          <td>少</td><td>有</td><td>有</td><td>有</td><td>有</td><td>有</td><td>有</td><td>有</td><td>有</td><td>有</td><td>有</td><td>有</td><td>极少</td>
        </tr>
        <tr>
          <td>コーポレート職／経理／財務／人事／法務／総務／内部統制／合規／管理部門職</td>
          <td>有</td><td>有</td><td>有</td><td>有</td><td>有</td><td>有</td><td>有</td><td>有</td><td>有</td><td>有</td><td>有</td><td>有</td><td>极少</td>
        </tr>
        <tr>
          <td>システムエンジニア（SE）／開発エンジニア／IT企画／DX本部</td>
          <td>有</td><td>有</td><td>有</td><td>有</td><td>有</td><td>少</td><td>极少</td><td>少</td><td>少</td><td>有</td><td>有</td><td>少</td><td>无</td>
        </tr>
        <tr>
          <td>クリエイティブ（グラフィックデザイナー、パッケージデザイナー、プロダクトデザイナー、UI/UXデザイナー、内容制作）</td>
          <td>极少</td><td>有</td><td>极少</td><td>极少</td><td>极少</td><td>极少</td><td>无</td><td>少</td><td>有</td><td>有</td><td>有</td><td>极少</td><td>无</td>
        </tr>
        <tr>
          <td>広報部／PR／ブランドコミュニケーション</td>
          <td>少</td><td>有</td><td>少</td><td>有</td><td>有</td><td>少</td><td>极少</td><td>少</td><td>有</td><td>有</td><td>有</td><td>有</td><td>无</td>
        </tr>
        <tr>
          <td>法務／弁護士／司法書士／行政書士／合規監査／監査職</td>
          <td>有</td><td>少</td><td>少</td><td>有</td><td>有</td><td>有</td><td>有</td><td>少</td><td>极少</td><td>有</td><td>少</td><td>少</td><td>有</td>
        </tr>
        <tr>
          <td>生産管理・物流／調達／BM職／PM職／AM職</td>
          <td>无</td><td>无</td><td>无</td><td>无</td><td>无</td><td>有</td><td>无</td><td>有</td><td>无</td><td>有</td><td>极少</td><td>有</td><td>无</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

