<div class="container mt-4">
  <h1 class="text-center mb-4">日本业界分析</h1>
  
  <!-- 新的布局结构，左右分栏 -->
  <div class="row">
    <!-- 左侧导航按钮 -->
    <div class="col-md-3 mb-4">
      <div class="btn-group-vertical w-100" role="group" aria-label="Vertical button group">
        <%= link_to 'IT业界', it_field_index_path, class: 'btn btn-outline-success btn-lg mb-2' %>
        <%= link_to '咨询业界', consult_field_index_path, class: 'btn btn-outline-success btn-lg mb-2' %>

      </div>
    </div>
    
    <!-- 右侧主内容 -->
    <div class="col-md-9">
      <div class="card shadow">
        <div class="card-body">
          <h2 class="card-title mb-4">我对日本各业界的分析</h2>
          
          <p>在这个专栏，我对日本的IT业界，咨询业界，金融业界，商社业界进行了分析。</p>
          <p>分析的重点围绕几个关键词：“业务逻辑”，“工作内容”以及“岗位职种”。</p>
          <p>在这个专栏里，你可以了解日本的各个业界是以什么样的逻辑运行的（市场上存在什么样的需求以及什么样的供给？），根据其对应的工作内容，你还能了解到现存的各个职种。</p>
          <p>结合以上的信息，你可以判断自己的就职方向是否和这个业界契合。</p>
          
          
        
        </div>
      </div>
    </div>

    <div class="text-center mt-4">
            <%= link_to '返回首页', root_path, class: 'btn btn-secondary' %>
          </div>
    
  </div> <!-- End row -->
</div>
