<div class="container mt-5">
  <div class="row">
    <!-- 左侧按钮区域 -->
    <div class="col-md-4">
      <div class="card shadow">
        <div class="card-body">
          <h3 class="card-title text-center mb-4">就职导航</h3>
          <div class="d-grid gap-3">
            <%= link_to '就职流程', job_process_path, class: 'btn btn-primary btn-lg' %>
            <%= link_to '情报收集', info_collection_path, class: 'btn btn-success btn-lg' %>
          </div>
        </div>
      </div>
    </div>
    
    <!-- 右侧介绍区域 -->
    <div class="col-md-8">
      <div class="card shadow">
        <div class="card-body">
          <h2 class="card-title mb-4">关于本站</h2>
          <div class="card-text">
            
            
            <p>从2024年四月入学后开始，我all in了日本的外资咨询业界，以战略咨询为自己的目标投了超过十家公司的夏季实习。</p>
            <p>但很不幸的是，最后这十多家公司不是落在了书选就是落在了网测上，唯一一家进了面试的PwC也败在了case面试上。</p>
            <p>相比之下，唯二两家投递的it咨询的公司都让我继续走了下去，并在八九月份让我参加了多轮面试。<p>
            <p>不知怎的，我的经历仿佛应了我曾经不知道在哪看到过的说辞：“文科生全去干it去了”。<p>
            <p>我的就职经历也告诉我对于文科生来说日本it的难易度相比于外资的咨询真的会低一些。<p>
            <p>在这之后，我非常顺利地在我面了的其中一家it咨询公司中拿到了内定。并且，心里有了余裕的我在谨慎思考后正式决定转码，而这也是这一个网站诞生的背景：以练习的目的，我使用ruby on rails制作了这一个网站。<p>
            
            <p>本网站的两大核心模块：</p>
            <ul>
              <li><strong>就职流程</strong>：详细介绍ES、网测、GD（小组讨论）、个人面试及内定注意事项。</li>
              <li><strong>情报收集</strong>：详细介绍如何通过社交媒体平台，日本的各大就职网站，以及一些npo组织来收集信息。</li>
            </ul>
            
            <p>日本就职是个漫长的过程，希望大家最后都能够如愿以偿。</p>
            
            <p class="mt-4 font-italic">开始您的日本就职之旅吧！请点击左侧按钮进入相应模块。</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>