<div class="container mt-4">
  <h1 class="text-center mb-4">外资就活（外資就活ドットコム）使用指南</h1>

  <div class="text-center mb-3">
    <a href="https://gaishishukatsu.com/" target="_blank" class="btn btn-primary">
      访问外资就活官网
    </a>
  </div>

  <!-- 外资就活 网站综述 -->
  <div class="row">
    <div class="col-md-12">
      <div class="card shadow">
        <div class="card-body">
          <h2 class="card-title mb-4">外资就活 网站综述</h2>
          
          <p><strong>外资就活（外資就活ドットコム）</strong>主要是外资企业的就职平台，里面会有很多外资企业在这个平台上发招聘通知。</p>
          
          <div class="alert alert-info mt-4">
            <p><strong>在刚入学的那会儿，因为目标是外资的咨询企业，所以外资就活是我主要使用的平台。</strong></p>
            <p><strong>和リクナビ不一样，这个平台所拥有的企业信息并不多，但我感觉里面的每家公司都是非常优质的公司，就连里面的一些实习的招聘也是非常优质的（我曾用这个平台找过很多个实习）。</strong></p>
            <p><strong>但比较遗憾的是，这个平台的es以及体验谈功能我基本上没有用过（因为我一般都用OneCareer，这一部分后面也会讲）。</strong></p>
            <p><strong>基于此，对于此网站的介绍我将专注于其招聘信息的发布。</strong></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- 外资就活 使用教程 -->
  <div class="row">
    <div class="col-md-12">
      <div class="card shadow">
        <div class="card-body">
          <h2 class="card-title mb-4">外资就活 使用教程</h2>
          
          <p><strong>Step1:</strong> 注册外资就活官网账号，建议使用大学邮箱（ac.jp 结尾）。</p>
          <p><strong>Step2:</strong> 完善个人信息，特别是GPA、语言成绩（TOEIC/TOEFL）、海外经验等。</p>
          <p><strong>Step3:</strong> 使用搜索功能查找你关注的外资企业信息（见下方的搜索功能）。</p>
          <p><strong>Step4:</strong> 浏览并确认每家企业的早期选考时间、说明会时间和ES提交截止日期（见下方的选考流程情报）。</p>
          <p><strong>Step5:</strong> 参考前辈的ES范文和面试经验撰写你的志望理由书（见下方的ES撰写参考功能）。</p>
          <p><strong>Step6:</strong> 完善个人档案信息后，等着HR发来スカウト（见下方的スカウト功能）。</p>

          <div class="alert alert-info mt-4">
            <p><strong>如果你想参加BCG、McKinsey、PwC等顶尖咨询公司的早期选考，外资就活的情报是最好的。</strong></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- 搜索功能 -->
  <div class="row mt-5">
    <div class="col-md-12">
      <div class="card shadow">
        <div class="card-body">
          <h2 class="card-title mb-4">外资就活 的搜索功能</h2>

          <p>外资就活可以根据四个维度来进行现有招聘信息的筛选</p>

          <ul>
            <li><strong>招聘对象：</strong> 分“エンジニア志望向け”，“海外大学生向け”，“理系学生向け”三种。海外大学生一般指在日本以外的国家毕业的但想来日本找工作的学生。</li>
            <li><strong>业界：</strong> IT、金融、咨询、商社、制造业，甚至还有政府机关。</li>
            <li><strong>职种：</strong> 例如「コンサルタント」「ITエンジニア」等。</li>
            <li><strong>种类：</strong> 本选考，实习又或者是说明会等。</li>
          </ul>

          <div class="alert alert-primary mt-4">
            <p><strong>在就活的前期，我一般都是在业界里选了金融，咨询，然后再在职种里选择コンサルタント，最后在种类里选择インターン。</strong></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- 选考流程情报 -->
  <div class="row mt-5">
    <div class="col-md-12">
      <div class="card shadow">
        <div class="card-body">
          <h2 class="card-title mb-4">外资就活 的选考情报功能</h2>

          <p>所有能够搜索到的招聘信息都会附上这一轮招聘的最终期限，大家可以根据这个ddl安排好自己的时间。</p>
          <p>点击详细页面还能够查看这一家公司的详细信息，例如选考流程等等（不过这一功能其实基本上所有网站都有，也不必赘述）</p>

          <div class="text-center mt-4">
            <%= link_to '返回情报收集首页', info_collection_path, class: 'btn btn-secondary' %>
          </div>

        </div>
      </div>
    </div>
  </div>

