<div class="container mt-4">
  <h1 class="text-center mb-4">MyNavi（マイナビ）使用指南</h1>

  <!-- MyNavi（マイナビ） 网站综述 -->
  <div class="row">
    <div class="col-md-12">
      <div class="card shadow">
        <div class="card-body">
          <h2 class="card-title mb-4">MyNavi（マイナビ）</h2>
          
          <p><strong>MyNavi（マイナビ）</strong>是一个找短期实习超强的网站。</p>

          <div class="alert alert-info mt-4">
            <p><strong>如果你经历过修士一年级那个夏天夏季实习的洗礼，那么你到了MyNavi上一定会大吃一惊。</strong></p>
            <p><strong>因为你会发现：并不是所有公司的实习都像那些外资咨询一样流程和本选考一样完整，选考难度还比本选考还高一大截。</strong></p>
            <p><strong>在mynavi上，你会找到很多虽然是小公司的，但是不需要怎么选考的短期实习（一天两天，长的有五天），大部分实习不需要选考，小部分实习需要书类选考。这些实习的主要目的并不是让你拿到这家公司的内定，而是通过这些实习，你能够更好地了解这家公司乃至这个业界都在做些什么。当然，通过这样海量的实习经历，你的日语一定会变得非常流利。</strong></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- MyNavi（マイナビ） 使用教程 -->
  <div class="row">
    <div class="col-md-12">
      <div class="card shadow">
        <div class="card-body">
          <h2 class="card-title mb-4">MyNavi（マイナビ） 使用教程</h2>
          
          
            <p><strong>Step1:</strong> 首先注册账号后登陆。</p>
            <p><strong>Step2:</strong> 然后在网站首页的搜索框里面选择自己的业界，职种以及地区。</p>
            <p><strong>Step3:</strong> 最后在搜到的非常多的短期实习中找到自己想去的，点击报名即可</p>

          <div class="alert alert-success mt-4">
            <p><strong>在修士一年级的那个十月份，我曾经通过mynavi非常密集地参加了很多次短期实习，主要集中在文系it业界。</strong></p>
            <p><strong>在那一个月，我了解到了文系it业界的各种各样的公司的业务，有专门做测试的公司，也有像传统SIer企业一样做软件的公司。</strong></p>
            <p><strong>在平均一周一到两个实习的轰炸之下，我对it业界的了解上了一个台阶，日语水平也更是达到了一个新的水平。</strong></p>
            <p><strong>更重要的是，通过短期实习所获得的业界信息在个人面试中起到了非常大的作用：这些实习的经历能够提高你陈述自己的志望理由的可信度。</strong></p>
          </div>

          <div class="text-center mt-4">
            <%= link_to '返回情报收集首页', info_collection_path, class: 'btn btn-secondary' %>
          </div>
        </div>
      </div>
    </div>
  </div>

 