<!-- npo组织 -->
  <div class="row">
    <div class="col-md-12">
      <div class="card shadow">
        <div class="card-body">
          <h2 class="card-title mb-4">参加就职npo组织。</h2>
          
          <p><strong>现在日本社会上就已经有许多支援学生就职的npo组织。</strong></p>
          <p>有些组织会给每个学生分一个mentor，mentor会带着大家收集情报，然后从写es然后到面试一步一步练习。</p>
          <p>这些组织还会开办自己的就职说明会，面试练习会。</p>

          <div class="alert alert-info mt-4">
            <p><strong>我是从入学之前就找到了エンカレッジ这一个就职npo组织。</strong></p>
            <p><strong>在入学之前，我找了我的mentor进行了几次面谈，了解了就职大概了的流程。</strong></p>
            <p><strong>在入学之后，我也在组织内参加了几次case面试。</strong></p>
          </div>

          <div class="text-center mt-4">
            <%= link_to '返回情报收集首页', info_collection_path, class: 'btn btn-secondary' %>
          </div>
        </div>
      </div>
    </div>
  </div>
