<!-- npo组织 -->
  <div class="row">
    <div class="col-md-12">
      <div class="card shadow">
        <div class="card-body">
          <h2 class="card-title mb-4">参加就职npo组织。</h2>
          
          <p><strong>现在日本社会上就已经有许多支援学生就职的npo组织。</strong></p>
          <p>有些组织会给每个学生分一个mentor，mentor会带着大家收集情报，然后从写es然后到面试一步一步练习。</p>
          <p>这些组织还会开办自己的就职说明会，面试练习会。</p>

          <div class="alert alert-info mt-4">
            <p><strong>我是从入学之前就找到了エンカレッジ这一个就职npo组织。</strong></p>
            <p><strong>当时分给我的一位mentor就是我们学校的一位学长，拿到了PwC等多家大手企业的内定。</strong></p>
            <p><strong>这位学长在面谈时先带我做了一下自我分析，然后之后开始带我练习case面试。</strong></p>
            <p><strong>npo组织的确能够带还未开始就职的学生入就职的门，但可能因为其本身是非营利组织（参加的同学不用交钱），所以它会从其他方面来获取利益，例如向学生推销自己的活动等等。</strong></p>
          </div>

          <div class="text-center mt-4">
            <%= link_to '返回情报收集首页', info_collection_path, class: 'btn btn-secondary' %>
          </div>
        </div>
      </div>
    </div>
  </div>
