<!-- 公司官网及公司说明会 -->
  <div class="row">
    <div class="col-md-12">
      <div class="card shadow">
        <div class="card-body">
          <h2 class="card-title mb-4">查阅公司官网。</h2>
          
          <p><strong>最直接的方式就是直接上公司官网。</strong></p>
          <p>公司官网上会有最官方最权威的职种，年收入，业务内容，大致的选考流程的信息。</p>
          <p>在你エントリー了之后，公司还会一直给你发企业说明会，选考会等信息。在这些企业说明会中会有答疑时间，如果问题问到点子上了会事半功倍。</p>

          <div class="alert alert-info mt-4">
            <p><strong>公司官网以及公司说明会这一个情报收集的手段在你确认了目标公司后尤其有效。</strong></p>
            <p><strong>在我就活的前期，因为已经有了目标的外资咨询企业，我都是直接登上官网然后进行エントリー、并没有查看外資就活以及Openwork这样的网站收集信息。</strong></p>
            <p><strong>但是，我没有利用好公司说明会这一手段，错过了很多能够了解到公司业务内容的机会。</strong></p>
            <p><strong>在做企业研究时，特别是在研究业务内容时，公司的官网和公司的说明会作为一手材料，一定是最有效的途径（但是企业研究一般是在二面的时候才会被考到，所以很多时候都没有机会做到这一步吧）。</strong></p>
          </div>

          <div class="text-center mt-4">
            <%= link_to '返回情报收集首页', info_collection_path, class: 'btn btn-secondary' %>
          </div>
        </div>
      </div>
    </div>
  </div>