<!-- 小红书使用教程 -->
  <div class="row">
    <div class="col-md-12">
      <div class="card shadow">
        <div class="card-body">
          <h2 class="card-title mb-4">如何让小红书成为自己的就职神器。</h2>
          
          <p><strong>我们要用的两个最重要的功能是搜索功能和推送功能。</strong></p>
          <p>首先我们需要知道小红书的搜索机制和推送机制：经过我的测试，小红书会先给每个用户分一个tag，这个tag会让这个用户在之后的搜索和推送中都受到影响。例如：我是一个重度日本就活用户（那么我就会被贴上日本就活的tag），在这个情况下我搜索it相关的笔记时小红书也会优先给我显示和日本就活有关的it笔记。而推送机制就更是如此了，每次刷新都会给我推一大堆日本就活的笔记，有些还是最新的日本就活动态。</p>
          <p>以上的这两个功能会成为你的就活神器，尤其是精准推送功能，你总是能在小红书的推送中看到和你报了同一家公司的人，也能看到你有兴趣的公司的笔记，更能看到很多关于这一家公司的最新的选考经验（如果这一家公司在中国留学生内部很有人气的话）。</p>

          <p><strong>如何使用精准的搜索功能和推送功能？</strong></p>
          <p>单纯的一次搜索并不会直接让你贴上有关的tag，后续还需要你在小红书推送的笔记上进行积极的点击。</p>
          <p>小红书会根据你的点击率来给你贴上tag。如果给你推了很多就活相关的笔记而你没有点开的话，这样子你并不会被贴上就活的tag，之后给你推的就活的笔记也会越来越少。</p>
          <p>因此，你要做的就是：积极点开有关的就活笔记，给小红书以反馈，这样子小红书就会更加积极地向你推送相关的就活笔记。（注意：这样子一定程度上会破坏你的账号原有的tag）</p>

          <div class="alert alert-danger mt-4">
            <p><strong>我是从入学之前就开始用小红书查找就职信息的，从那个时候我就被贴上了日本就职的tag，再加上我还会发很多有关日本就职的笔记，进一步加强了我的tag。</strong></p>
            <p><strong>所以渐渐地，我的小红书仿佛变成了一个就职信息收集器，所有同学发的就职笔记，就职动态都会被推到我的首页。</strong></p>
            <p><strong>当然，这样精准推送还给我带来了很强的就职焦虑。所以，心态上大家放轻松，专注于如何让自己更好地就职就行。</strong></p>
          </div>

          <div class="text-center mt-4">
            <%= link_to '返回情报收集首页', info_collection_path, class: 'btn btn-secondary' %>
          </div>
        </div>
      </div>
    </div>
  </div>
