<div class="container mt-5">
  <h1 class="text-center mb-4">联系作者</h1>

  <div class="accordion" id="contactAccordion">

    <!-- 联系方式 -->
    <div class="accordion-item border-0">
      <h2 class="accordion-header" id="headingContact">
        <button class="accordion-button bg-secondary bg-opacity-25 text-dark" type="button" data-bs-toggle="collapse" data-bs-target="#collapseContact" aria-expanded="true" aria-controls="collapseContact">
          📮 联系方式
        </button>
      </h2>
      <div id="collapseContact" class="accordion-collapse collapse " aria-labelledby="headingContact" data-bs-parent="#contactAccordion">
        <div class="accordion-body bg-secondary bg-opacity-25 text-dark">
          <p>你可以通过以下方式联系我：</p>
          <ul>
            <li>Gmail：<strong>keichenastra@gmail.com</strong></li>
            <li>Foxmail：<strong>chenjh159@foxmail.com</strong></li>
          </ul>
        </div>
      </div>
    </div>

    <!-- 交流群 -->
    <div class="accordion-item border-0">
      <h2 class="accordion-header" id="headingGroup">
        <button class="accordion-button collapsed bg-info bg-opacity-50 text-dark" type="button" data-bs-toggle="collapse" data-bs-target="#collapseGroup" aria-expanded="false" aria-controls="collapseGroup">
          💬 加入交流群
        </button>
      </h2>
      <div id="collapseGroup" class="accordion-collapse collapse" aria-labelledby="headingGroup" data-bs-parent="#contactAccordion">
        <div class="accordion-body bg-info bg-opacity-50 text-dark">
          <p>在交流群里，我可以给大家讲解网站的用法，告诉大家新添加的内容，也会预告即将到来的新功能！</p>
          <p>交流群内可以自由讨论！当然，如果网站崩溃了或者内容出错了，大家也可以随时告知我，我会加紧恢复或修改。</p>
          <ul>
            <li>微信群：扫码添加我微信后拉你进群</li>
            <li>QQ群：123456789</li>
          </ul>
        </div>
      </div>
    </div>

    <!-- 内容贡献 -->
    <div class="accordion-item border-0">
      <h2 class="accordion-header" id="headingContribute">
        <button class="accordion-button collapsed bg-warning bg-opacity-50 text-dark" type="button" data-bs-toggle="collapse" data-bs-target="#collapseContribute" aria-expanded="false" aria-controls="collapseContribute">
          🤝 你也想分享自己的内容
        </button>
      </h2>
      <div id="collapseContribute" class="accordion-collapse collapse" aria-labelledby="headingContribute" data-bs-parent="#contactAccordion">
        <div class="accordion-body bg-warning bg-opacity-50 text-dark">
          <p>如果你也想要分享自己的就职经历或者就职攻略：</p>
          <ul>
            <li>你可以联系我，我们一起把你的内容整理好放上网站！</li>
          </ul>
        </div>
      </div>
    </div>

    <!-- 支持 -->
    <div class="accordion-item border-0">
      <h2 class="accordion-header" id="headingSupport">
        <button class="accordion-button collapsed bg-success bg-opacity-50 text-white" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSupport" aria-expanded="false" aria-controls="collapseSupport">
          ☕ 支持本站
        </button>
      </h2>
      <div id="collapseSupport" class="accordion-collapse collapse" aria-labelledby="headingSupport" data-bs-parent="#contactAccordion">
        <div class="accordion-body bg-success bg-opacity-50 text-white">
          <p>感谢你的支持！如果你觉得本站对你的就职有帮助：</p>
          <ul>
            <li>
              你可以给我的 GitHub 仓库点个免费的星〜
              <a href="https://github.com/YoshihiroChen/job_hunting_diy" target="_blank" class="text-white ms-2">
                <i class="fab fa-github fa-lg me-1"></i>
                YoshihiroChen
              </a>
            </li>
            <li>也可以请作者喝杯奶茶〜</li>
          </ul>

          <div class="d-flex gap-4 mt-3">
            <!-- 你可以在这里添加打赏二维码 -->
            
          </div>
        </div>
      </div>
    </div>


  </div>
</div>

